
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

 a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 15%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}



@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}



.social-icon {
    display: inline-block;
    justify-content: center;
    margin-left: 700px;
    
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: lightgray;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}




.h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
 p {
  color: #B8B8B8;
  position: relative;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.projectList{
  display: inline-block;
  flex-wrap: wrap;
}

.card {
  background-color: var(--white);
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--cultured), 0 6px 12px var(--cultured);
}



.footer {
  padding: 0 0 10px 0;
  height: 100px;

  background-position: center center;
  background-size: cover;

}
